<div class="container">
  <h1>{{title}} Book {{flag}}</h1>
  <hr>
  <div class="form-group row" style="color:red;">{{errorMessage}}</div>

  <form #f="ngForm" (ngSubmit)="save(f)">
    <fieldset>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label" style="text-align:right;">Book ID*</label>
        <div class="col-sm-2">
          <input name="BookId" placeholder="Book ID" type="text" tabindex="1" required autofocus ngModel [(ngModel)]="book.BookID"
          [readonly]="BookIdDisabled" type="number" min="1">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label" style="text-align:right;">Book Name*</label>
        <div class="col-sm-2">
          <input name="BookName" placeholder="Book Name" type="text" tabindex="2" [(ngModel)]="book.BookName" required ngModel>
        </div>
      </div>
      <div>
        <div class="col-sm-20">
          <div class="col-sm-2">
          </div>
          <button class="btn btn-primary" [disabled]="!f.form.valid" name="submit" type="submit" id="booklist-submit" data-submit="...Sending">Save Book</button>
          <button class="btn btn-warning" (click)="cancel()" name="cancel" type="cancel" id="booklist-cancel" data-submit="...Sending">Cancel</button>
        </div>
      </div>
    </fieldset>
  </form>
</div>